// ===============================
// CONTACTO PAGE
// ===============================

form {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;

  background-color: $color-blanco;
  border-radius: $radius;
  box-shadow: $sombra-suave;

  display: flex;
  flex-direction: column;
  gap: 15px;

  input,
  textarea {
    padding: 10px;
    border-radius: $radius;
    border: 1px solid $color-gris-borde;
  }

  button {
    background-color: $color-rojo-gr;
    color: $color-blanco;
    padding: 12px;
    border: none;
    border-radius: $radius;
    font-weight: bold;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: darkred;
    }
  }
}
