// ===============================
// RESET GENERAL
// ===============================
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
body {
    background-color: #f4f4f4; // Un gris muy clarito (o el color que prefieras)
    color: #333; // Color de texto para que sea legible
    margin: 0;
    font-family: Arial, sans-serif;
}

  color: $color-negro;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
