// ===============================
// STORE PAGE
// ===============================
@use "variables" as *;
.store-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 40px;

  img {
    border-radius: 8px;
    $sombra-suave: 0 4px 6px rgba(0,0,0,0.1);
    transition: $transition;

    &:hover {
      transform: scale(1.05);
    }
  }
}
