// ===============================
// VARIABLES GENERALES - TOYOTA GR
// ===============================

// 🎨 Colores principales
$color-negro: #000000;
$color-blanco: #ffffff;
$color-rojo-gr: #e60012;
$color-gris: #f2f2f2;

// 🖋 Tipografías
$font-principal: Arial, sans-serif;

// 📏 Tamaños
$radius: 12px;

// 🌫 Sombra suave
$sombra-suave: 0 0 10px rgba(0, 0, 0, 0.15);
