// ===============================
//  ARCHIVO PRINCIPAL - styles.scss
// ===============================

// Variables (siempre primero)
@use "variables" as *;

// Reset
@use "reset";

// Secciones del sitio
@use "header";
@use "footer";
@use "home";
@use "store";
@use "contacto";

// ===============================
// Estilos generales globales
// ===============================

body {
  background-color: #000000 !important; // Negro total
    color: #ffffff !important; 
    font-family: sans-serif;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

main {
    animation: fadeIn 1s ease-out;
}